<a href="https://colab.research.google.com/github/jeevitha16ds/jeevitha16ds/blob/main/KFOLD_Simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [ ]:
from collections import Counter
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [ ]:
data.head(1)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc

In [ ]:
X = data.iloc[:,:-1]
y = data.outcome
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=5,
                               max_depth=18,
                               n_estimators=100,
                               max_features=4,
                              )

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model,X,y,cv=5,scoring='accuracy')
print(scores)
print("Average Accuracy:",scores.mean())
print("Std :",scores.std())
#std of < 0.05 is good.

[0.65606936 0.84104046 0.82369942 0.87246377 0.87246377]
Average Accuracy: 0.8131473569573595
Std : 0.08074619556963478